/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    height: 80px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 100px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.product img {
    max-width: 100%;
}

.preco {
    font-weight: bold;
    margin-top: 10px;
}

.buy-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.footer {
    margin-top: 200px;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Certifica-se de que o vídeo esteja por trás de todo o conteúdo */
}
/* Estilos para o ícone do carrinho */
.bx-cart {
    font-size: 24px;
    margin-right: 5px;
}

/* Estilos para a notificação de adição de produto */
.notificacao {
    display: none;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
ul{
    display: none;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.barra {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.barra-inferior{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

